{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tag {{ tag }}{% endblock %}

{# <!-- Choosing cover image --> #}
{% if tag in HEADER_COVERS_BY_TAG %}
  {% set tag_cover = HEADER_COVERS_BY_TAG.get(tag) %}
  {% if tag_cover|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = tag_cover %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+tag_cover %}
  {% endif %}
{% elif HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% endif %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="blog-header" {% if selected_cover or selected_color %}class="has-cover"{% endif %}>
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
            <span class="blog-logo">
                <a href="{{ SITEURL }}/"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
            </span>
          {% else %}
            <span id="home-button" class="nav-button">
                <a class="home-button" href="{{ SITEURL }}/" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
            </span>
          {% endif %}
         
        </nav>
        <h1 class="post-title">Tag {{ tag }}</h1>
        <span class="blog-description">Posts: {{ articles|count }}</span>
        {% if selected_cover %}
          <div class="blog-cover cover" style="background-image: url('{{ selected_cover }}')">
        {% elif selected_color %}
          <div class="blog-cover cover" style="background-color: {{ selected_color }}">
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
